@using PizzaShop.Domain.ViewModels
@model Pagination<ItemsViewModel>
<div style="min-height: 600px;" class="table-responsive bg-white">
    <table class="table">
        <thead>
            <tr>
                <th scope="col">
                    <div class="form-check">
                        <input class="form-check-input check allCheck" type="checkbox"  id="selectAllItems">
                        <label class="form-check-label ms-2" for="flexCheckDefault">
                            Name
                        </label>
                </th>
                <th scope="col" class="text-center">Item Type</th>
                <th scope="col" class="text-center">Rate</th>
                <th scope="col" class="text-center">Quantity</th>
                <th scope="col" class="text-center">Available</th>
                <th scope="col" class="text-center">Action</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Items)
            {
                <tr class="align-self-center">
                    <td scope="row">
                        <div class="form-check d-flex align-items-center">
                            <input class="form-check-input check selectItem" data-itemId="@item.ItemId"  type="checkbox"
                               >
                            <label class="form-check-label ms-2">
                                <img width="30" src="~/uploads/@item.Img" alt="">
                                @item.ItemName
                            </label>
                    </td>
                    <td class="text-center"><img height="24" width="24" src="@Url.Content((item.ItemType == "Vegetarian" ? "~/images/icons/veg-icon.svg" :"~/images/icons/non-veg-icon.svg"))" alt=""></td>
                    <td class="text-center">@item.Rate</td>
                    <td class="text-center">@item.Quantity</td>
                    <td class="text-center">
                        <div class="form-check form-switch h-100 d-flex justify-content-center">
                            <input class="form-check-input tgl" type="checkbox" @(item.IsAvailable==true?"checked":"") disabled>
                        </div>
                    </td>
                    <td class="text-center">
                        <div class="actionButtons d-flex gap-3 justify-content-center align-items-center pt-2">
                            <a class="link-secondary"><img src="~/images/icons8-pencil-50.png" height="24" width="24"
                                    class="fa-solid fa-pencil editItems" data-itemId="@item.ItemId" data-bs-toggle="modal"
                                    data-bs-target="#editItems">
            
                </a>
                            <img src="~/images/icons8-delete-80.png" height="24" width="24"
                                class="fa-regular fa-trash-can deleteItem" data-bs-toggle="modal"
                                data-Delete-itemId="@item.ItemId" data-bs-target="#Delete">
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    @if (Model.Items.Count() < 1)
    {
        <div class=" text-center">No Items found.</div>
    }
   
</div>
<div class="pagination  d-flex flex-column flex-md-row justify-content-end bg-white gap-2  pb-2 mt-2 ">
    <div class=" d-flex justify-content-center align-items-center gap-3 pe-2">
        <p class="m-0">Items Per Pages:</p>
        <select class=" px-2" asp-for="PageSize" name='PageSize'>
            <option value="5">5</option>
            <option value="10">10</option>
            <option value="15">15</option>
            <option value="@Model.NumberOfItems">All</option>
        </select>
    </div>
    <div class=" d-flex Pages  justify-content-center align-items-center">
        <p class="m-0 mx-1">Showing @(Model.NumberOfItems==0?0:Model.StartIndex)-
            @(Model.EndIndex<Model.NumberOfItems? Model.EndIndex : Model.NumberOfItems) of @Model.NumberOfItems</p>

        <button id="previous" @(Model.CurrentPage > 1 ? "" : "disabled") type="button"
            class="btn btn-outline-secondary arrows d-flex justify-content-center align-items-center me-1 p-0"><i
                class=" m-2">&lt;</i></button>

        <button id="next" @(Model.CurrentPage < Model.TotalPages ? "" : "disabled")  type="button"
            class="btn btn-outline-secondary arrows d-flex justify-content-center align-items-center me-1  p-0"><i
                class="m-2">&gt;</i></button>
    </div>
</div>